<a href="https://colab.research.google.com/github/PhoniciaAnne/Pythonbasics/blob/main/pylearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  a=int(input("enter a"))
b=int(input("enter b"))
c=a*b
print(c)

enter a10
enter b3
3.3333333333333335

In [ ]:
#end=""(used for print in same line)
a=input()
print(a,end=" ")
print("sup")

hi
hisup

In [ ]:
# list is group of data(datatype)
#imp functions:
#len -  for  length
# certain value-print ( value in function)
#indexing-arr[elemnt index]
#req_index=arr.index(value)
adding=arr.append(element)
maximum=max(elemnt)
minimum=min(Ele)
assendung-arr.sort()
removeing=arr.remove

In [ ]:
arr=[1,2,3,1.3]
print(arr)
print(len(arr))
print(1 in arr)
print(arr[2])
print(arr.index(2))
arr.append(10)
print(arr)
print(max(arr))
arr.sort()
print(arr)
arr.remove(3)
print(arr)

[1, 2, 3, 1.3]
4
True
3
1
[1, 2, 3, 1.3, 10]
10
[1, 1.3, 2, 3, 10]
[1, 1.3, 2, 10]

In [ ]:
#tuples-imuatable
t=(1,2,3,4)
print(len(t))
print(max(t))
print(t.index(3))
print(t)

4
4
2
(1, 2, 3, 4)

In [ ]:
#sets-{}-no duplicate values, it will auto sort tit
#add  by using add func
#remove,len
set={7,10,1,2,3,3,4}
print(set)
set.add(11)
set.add(0)
print(set)
print(len(set))

{1, 2, 3, 4, 7, 10}
{0, 1, 2, 3, 4, 7, 10, 11}
8

In [ ]:
#dictionaries(key:value)pairs
dict={'a':10,'b':20,'c':30}
print(dict)
print(dict['a'])

{'a': 10, 'b': 20, 'c': 30}
10

In [ ]:
#adding val in dict\
d={}
d['hi']=90
d.__setitem__('hello',9)
print(d)
print(d.get('hi'))
#funct of dictionaries
#min #len
#max
print(max(d))
print(min(d))
print(len(d))

{'hi': 90, 'hello': 9}
90
hi
hello
2

In [ ]:
#spe operators
#in
#not in
l=[1,2,3,4]
print(5 in l)
#is,is not
a=10
b=3
print(a is b)

False
False

In [ ]:
#bitwise op
#&,|,
#^(xor)

In [ ]:
#if'
#if Condition:
 # print("")
#else:
 # print("")(4 bits indentation)

In [ ]:
#nested if
name=(input("name"))
age=(int(input('age')))
gender=(input('gender'))
if age>=18:
  if gender=='M':
    print('mr {}'.format(name))
  else:
    print('miss  ',name)
else:
  print('no')

nameshasi
age12
genderm
no

In [ ]:
#modules
if __name__=='__main__':
  print(3)

3

In [ ]:
#loops
l=[10,20,30,40,50]
sum=0
for  i in l:
    sum=sum+i;
print(sum)

150

In [ ]:
arr=[2,3,4,5,6]
sum=0
for i in arr:
  sum=sum+i;
print(sum)

20

In [ ]:
t=(int(input("Enter value  ")))

for i in range(1,21):
  mul=t*i
  print(t,'*',i,'=',mul)

Enter value  35
35 * 1 = 35
35 * 2 = 70
35 * 3 = 105
35 * 4 = 140
35 * 5 = 175
35 * 6 = 210
35 * 7 = 245
35 * 8 = 280
35 * 9 = 315
35 * 10 = 350
35 * 11 = 385
35 * 12 = 420
35 * 13 = 455
35 * 14 = 490
35 * 15 = 525
35 * 16 = 560
35 * 17 = 595
35 * 18 = 630
35 * 19 = 665
35 * 20 = 700

In [ ]:
a=int(input())
i=0
while(i<=10):
  print(a,"*",i,"=",a*i)
  i=i+1

6
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:

l = [2, 3, 4, 5, 6]

found = False
for num in l:
    if num == 3:
        print("there")
        found = True
        break
    else:
        print("not")

if not found:
    print("not")

not
there

In [ ]:
a=0
while (a<10):
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [2, 3, 4, 5, 6]

found = False
for num in l:
    if num == 3:
        found = True
        break
if found==True:
  print("yes")
else:
  print("no")

yes

In [ ]:
for i in range(1,12):
  if i==3:
    continue
  print(i,end='')
for i in range(1,12):
  if i==5:
     break
  print(i)

1245678910111
2
3
4

In [ ]:
n = int(input("Enter n: "))

for i in range(n):
  t = float(input("Enter temperature: "))
  h = float(input("Enter humidity: "))
  w = float(input("Enter wind speed: "))
  weather = 0.5 * t**2 - 0.2 * h + 0.1 * w - 15
  print(weather)
  if weather > 300:
        print("Category: s")
  elif 200 < weather <= 300:
        print("Category: c")
  elif 100 < weather <= 200:
        print("Category: r")
  else:
        print("category: end")

Enter n: 2
Enter temperature: 10
Enter humidity: 5
Enter wind speed: 2
34.2
category: end
Enter temperature: 458
Enter humidity: 1
Enter wind speed: 0
104866.8
Category: s

In [ ]:
#functions without parameter without return val
def hi():
  print("hi")
hi()

hi

In [ ]:
#fun without para with retrn
def hi():
  return ("hi")
print(hi())

hi

In [ ]:
#fun with para without retrn
name=input("name is :")
val=int(input("num is : "))
def hi(name,val):
  print("good evning  ",name,val)

hi(name,val)

name is :abc
num is : 3
good evning   abc 3

In [ ]:
def hi(name,val):
   return print("good evning  ",name,val)
name=(input())
val=(input())
hi(name,val)

sha
2
good evning   sha 2

In [ ]:
#func with return withour para
def num():
     sum=0
     for i in range(0,6):

        sum=sum+i
     return sum
print(num())

15

In [ ]:
#recurson
def n():
  print("hi")
  n()
n()

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

RecursionError: maximum recursion depth exceeded while calling a Python object

In [ ]:
#recursion - 1)base condition 2)func with parameters and return
#sum of natural numbers

def sum(n):
  if n==0:
    return 0
  return sum(n-1)+n
n= int(input('n'))
print(sum(n))

n21
231

In [ ]:
#finding max in list
l=[1,2,43,44,78,90]
print(max(l))

90

In [ ]:
marks=[1,22,33,144,55,6,77]
max=-1

for i in range(0,len(marks)):
  if marks[i]>max:
    max=marks[i]
print(max)

144

In [ ]:
#prog with functions and loops
def get_grade(avg_marks):
  if avg_marks>=90:
    return'A'
  elif avg_marks>80 and avg_marks<90:
    return 'B'
  elif avg_marks>70 and avg_marks<80:
    return"c"
  else:
    return'D'

def get_avg(marks_list):
  sum=0
  n=len(marks_list)
  for i in range(0,n):
    sum=sum+marks_list[i]
  return sum/n



def main():
  n=(int(input()))
  name_list=[]
  avg_list=[]
  for i in range(0,n):
      name=(input("you name"))
      marks_list=list(map(int,input("6 sub marks").split(' ')))
      name_list.append(name)
      avg_list.append(get_avg(marks_list))
  for i in range(0,n):
     print(name_list[i])
     print('ave',avg_list[i])
     print(get_grade(avg_list[i]))




if __name__== '__main__':
  main()

2
you namewe
6 sub marks12 13 12 12 12 44
you namerr
6 sub marks33 44 55 66 77
we
ave 17.5
D
rr
ave 55.0
D

In [ ]:
n=int(input(""))
total =0
for i in range(n):
    marks=int(input())
    total=total+marks
print(total)
def ave(total,n):
      return total/n
print(ave(total,n))

def grade():
  if total>90:
    print("A")
  elif total<90 and total>80:
    print("B")
  elif total<60:
    print("C")
  else:
    print("fail")
print(grade())

2
22
33
55
27.5
C
None

In [ ]:
l=[1,2,3,4,5]
square=[]
for i in l:
   square.append(i**2)
print(square)

[1, 4, 9, 16, 25]

In [ ]:

a=(set(map(int,input().split())))
print(a)

22 33 44
{33, 44, 22}

In [ ]:
def square(a):
    return  a**3
a=[1,2,3,4,5,6]

sq=list(map(square,a))
print(sq)

[1, 8, 27, 64, 125, 216]

In [ ]:
name=input()
value=input()
def sum(name,value):
     return print("hi",name,value)
sum(name,value)

hi

In [ ]:
arr=[1,1,2,3,4,2,3,4,2,2,3,2,2,2,2,5,6,7]

def count(arr,size,occur):
  c=0
  for i in range(0,size):
    if arr[i]==occur:
      c=c+1
  return c

print(count(arr,len(arr),1))
print(count(arr,len(arr),2))

2
8

In [ ]:
#strings
c="Phonicia Anne"
for character in c:
  print(character)
for character in c:
  print("ascii values ",ord(character))
#.lower for low values,.upper for big
print(c.lower())

P
h
o
n
i
c
i
a

A
n
n
e
ascii values  80
ascii values  104
ascii values  111
ascii values  110
ascii values  105
ascii values  99
ascii values  105
ascii values  97
ascii values  32
ascii values  65
ascii values  110
ascii values  110
ascii values  101
phonicia anne

In [ ]:
#dictionry prog
data=['A','B','A','C','B','A','C','A','A','B','C','C','A','D','D','A','C']
Dict={}
for i in range(len(data)):
    temp=Dict.get(data[i])
    if temp is None:
      Dict[data[i]]=1
    else:
      Dict[data[i]]=temp+1
for key,value in Dict.items():
  print(key,value)

In [ ]:
#function on strings:string slicing,typeconversions,fstrings
s="phonicia anne"
print(s[3:10])
#convert string into list(split)
l="hi s do no"
print(list(l.split(" ")))
#join
s=["hi",'hlo','s','do','no']
print(' '.join(s))


#type conversions  list-tuple,set-list
print(tuple(s))
print(set(s))
#fstrings
a=10
b=20
c=25
print(a,b,c)
print(f'a:{a},b:{b},c:{c}')

nicia a
['hi', 's', 'do', 'no']
hi hlo s do no
('hi', 'hlo', 's', 'do', 'no')
{'s', 'hi', 'no', 'hlo', 'do'}
10 20 25
a:10,b:20,c:25

In [ ]:
# Program to print the fibonacci series upto n_terms

# Recursive function
def recursive_fibonacci(n):
    if n <= 1:
	      return n
    else:
	      return(recursive_fibonacci(n-1) + recursive_fibonacci(n-2))

n_terms = int(input())

# check if the number of terms is valid
if n_terms <= 1:
     print("Invalid input ! Please input a positive value")



for i in range(n_terms):
	  print(recursive_fibonacci(i))

5
0
1
1
2
3

In [ ]:
a = [90, 30, 55, 70]
n = len(a)
def sum(a):
    total = 0
    for i in a:
        total += i
    return total/n

print(sum(a))

61.25

In [ ]:
def main():
    num_subjects = int(input("Enter the number of subjects: "))

    # Initialize total_marks to 0
    total_marks = 0

    # Loop to input marks for each subject and add them to total_marks
    for i in range(num_subjects):
        mark = float(input(" "))
        total_marks = total_marks +mark

    # Calculate average by dividing total_marks by the number of subjects
    average = total_marks / num_subjects

    print("Average marks:", average)

if __name__ == "__main__":
    main()

Enter the number of subjects: 3
 52
 55
 55
Average marks: 54.0

In [ ]:
n = int(input())

def sum(n):
     total=0
     for i in range(n):
        num=(int(input()))
        total=total+num
     return total
print("total is ",sum(n))

4
4
4
4
4
total is  16

In [ ]:
n=int(input())
def sum(n):
   a=[]
   for i in range (n):
       num=int(input())
       a.append(num)

   total = 0
   for i in a:
     total=total+i
   return total

print(sum(n))

3
1
5
6
12

In [ ]:
#oops
Interitance
poylmerphism
encapsulation
abstraction

In [ ]:
#clasees in object
class hi:
  def __init__(self,name,age):
    self.name=name
    self.age=age
a=hi('shasi',20)
b=hi('phoni',10)
print(a.name,a.age)
print(b.name,b.age)

shasi 20
phoni 10

In [ ]:
#class-variables/attributes   1- normal class variables 2-static variables

class student:
  scl ='abc'
  def __init__(self,name,age):
     self.name=name
     self.age=age
  def name(self):
    print(self.age)
s1=student('a',3)
print(s1.name,s1.age,s1.scl)
s1.name

a 3 abc

'a'

In [ ]:
#inheritance- remove code duplicate
#reuse code
# 5 types - single level inher,multi level inheri,multiple interi,heirarchial inheri,hybrid inheit
class student:
  def __init__(self,a_val):
    self.a=a_val
  def print_a(self):
    print("A",self.a)
class ans(student):
  def __init__(self,a_val,b_val):
    student.__init__(self,a_val)
    self.b=b_val

  def print_b(self):
    print("B",self.b)

c=ans(10,20)
c.print_a()
c.print_b()

A 10
B 20

In [ ]:
class Driver:
  def __init__(self,fname,lname):
    self.fname=fname
    self.lname=lname
  def name(self):
    print("Name is ",self.fname+self.lname)
class Details(Driver):
  def __init__(self,fname,lname,no):
    Driver.__init__(self,fname,lname)
    self.no = no

  def val(self):
    print("age",self.no)
  def major(self):
    if self.no >= 20:
      return('major')
    else:
      return("minor")

ans= Details('phonicia','anne',20)
ans.name()
ans.val()
print("",ans.major())

Name is  phoniciaanne
age 20
 major

In [ ]:
print(10%-3)
print(11%-3)
print(13%-5)

-2
-1

In [ ]:
values = map(int, input("Enter multiple values separated by space: ").split())
print(id(values))

Enter multiple values separated by space: 2 3 4
<map object at 0x7d67e5424dc0>

In [ ]:
a= input(("").split())
print(a)

In [ ]:
values = map(int, input("Enter multiple values separated by space: ").split())
print(list(values))

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
for i in list:
  print("yes")

else:
  print("no")

yes

In [ ]:
#multi inheritance
class student:
  def __init__(self,fname,lname):
    self.fname = fname
    self.lname = lname
  def name(self):
    print("Name is ",self.fname + self.lname)


class strength(student):
  def __init__(self,fname,lname,gender):
    student.__init__(self,fname,lname)
    self.gender = gender
  def gender_is(self):
    if self.gender == Male:
      return ("Male")
    else:
      return ("female")

class age_is(strength):
  def __init__(self,fname,lname,gender,age):
    strength.__init__(self,fname,lname,gender)
    self.age = age
  def major(self):
    if self.age>18:
      return ("senior",self.age)
    else:
      return ("junior")
st1 = age_is("phoni","anne","F",20)
st2 = age_is("shashi","rodda","M",15)

print(st2.name())
print(st1.major())

Name is  shashirodda
None
('senior', 20)

In [ ]:
class student:
  def __init__(self,fname,lname):
    self.fname = fname
    self.lname = lname
  def name(self):
    print("Name is ",self.fname + self.lname)


class strength(student):
  def __init__(self,fname,lname,gender):
    student.__init__(self,fname,lname)
    self.gender = gender
  def gender_is(self):
    if self.gender == Male:
      return ("Male")
    else:
      return ("female")

class age_is(strength):
  def __init__(self,fname,lname,gender,age):
    strength.__init__(self,fname,lname,gender)
    self.age = age
  def major(self):
    if self.age>18:
      return ("senior",self.age)
    else:
      return ("junior")


print(st2.name())
print(st1.major())
class marks(strength,student):
  def __init__(self,fname,lname,gender,age,maths,eng):
    strength.__init__(self,fname,lname,gender)
    age_is.__init__(self,fname,lname,gender,age)
    self.maths = maths
    self.eng = eng
stu3 = marks('Phoni','anne','F',20,89,98)
print(stu3.strength())

Name is  shashirodda
None
('senior', 20)

AttributeError: 'marks' object has no attribute 'strength'